/src/LargeTestFileTool/bin
/src/LargeTestFileTool/obj
files/input_data.txt
files/sorted_output_512_128_2_000127.txt
files/sorted_output_1024_2_128_000136.txt
files/sorted_output_1024_128_4_000134.txt
/tests/LargeTestFileTool.Tests/obj
/tests/LargeTestFileTool.Tests/bin
